body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}
.header{
    border: 1px solid #0ea5e9;
    height: 150px;
    width: 1710px;
    background-color: #0ea5e9;
    color: white;
    text-align: center;
    border-radius: 20px;
    position: relative;
    right: 10px;bottom: 15px;
}
.header h1{
    font-size: 30px;
    position: relative;
    right: 5px;top: 20px;
}
.header p{
    font-size: 14px;
    position: relative;
    top: 20px;
}
.opt{
    border: 1px solid #E0F2FE;
    height: 30px;
    width: 1620px;
    background-color: #E0F2FE;
    text-align: center;
    border-radius: 40px;
    padding-left: 60px;
}
.opt a{
    text-decoration: none;
    color: #0284C7;
    font-weight: 700;
    margin-right: 20px;
}
.A:hover{
    background-color: #0284C7;
    color: white;
    border: 1px solid #0284C7;
    height: 30px;
    width: 100px;
}
.introduce{
    border: 1px solid white;
    border-radius: 15px;
    height: 100px;
}
