*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}
.header{
    border: 1px solid #0ea5e9;
    height: 150px;
    width: 100%;
    background-color: #0ea5e9;
    color: white;
    text-align: center;
    border-radius: 20px;
}
.header h1{
    font-size: 35px;
    padding-top: 30px;
}
.header p{
    font-size: 15px;
    position: relative;
    top: 20px;
}
.opt{
    border: 1px solid #E0F2FE;
    height: 40px;
    width: 100%;
    background-color: #E0F2FE;
    text-align: center;
    border-radius: 40px;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.opt a{
    text-decoration: none;
    color: #0284C7;
    font-weight: 700;
    margin-right: 20px;
}
.A:hover{
    background-color: #0284C7;
    color: white;
    border: 1px solid #0284C7;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;

}
.introduce{
    border: 1px solid white;
    border-radius: 15px;
    height: 120px;
    background-color: white;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 17px;
    padding: 30px;
    line-height: 40px;
}
.lowerbody{
    border-radius: 15px;
    background-color: #ECFEFF;
    border-left: 6px solid #0284C7;
    padding: 15px;
    line-height: 50px;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 25px;
    margin-right: 20px;
}
li{
    list-style: none;
}
footer{
    border: 1px solid #0F172A;
    height: 150px;
    width: 100%;
    background-color: #0F172A;
    color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    padding-top: 30px;
    margin-top: 180px;
    line-height: 40px;
}
